*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#7e94ef;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.container {
    background-color: blanchedalmond;
    border-radius:2px;
    box-shadow:19px 20px 0px -9px #475993;
    overflow: hidden;
    width:400px;
    max-width:100%;
}
header{
    background:#69b5f0;
    color: white;
    text-align: center;
    border-bottom: 1px solid #3a5139;
    padding:20px 40px ;
}
#formUser{
    padding:30px 20px;
}
.form-control{
   margin-bottom:7px;
   padding-bottom:20px;
   position: relative; 
}
.form-control label{
    display: inline-block;
    margin-bottom:7px;
    font: weight 200px;

}
.form-control input{
    border:none;
    background-color:#fffbf4;
    display: block;
    font-size: 16px;
    padding: 12px;
    width: 100%; 
}
.form-control,input:focus{
    outline:none;
}
#formUser input [type="button"]{
    background:#ba7e00;
    border:1px solid #ba7e00;
    border-radius: 2px;
    color:#91a1e7;
    display: block;
    width: 100%;
    padding:10px;
    font-size:18px;
}
.form-control p{
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
    color: #91a1e7;
}